body {
	font-family: 'Nunito', sans-serif;
	color: #faf3bc;
	background: #420600 url('img/bg-texture.jpg') repeat;
}

img {
	max-width: 100%;
}

a {
	color: #4fb69f;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: #b4c34f;
}

.btn {
	color: #faf3bc;
	background: #4fb69f url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #4cc4a7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #faf3bc;
}

#intro {
	margin: 50px 0 75px 0;
}

#new-cupcakes img {
	border: 8px solid #faf3bc;
	margin: 0 0 20px 0;
}

#featured-cupcake img {
	border: 8px solid #faf3bc;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}

/* media queries */

/* iphone */
@media screen and (max-width: 480px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;

	}
	#nav ul li a {
		-webkit-user-select: none;
	}

	#nav ul li {
	float: left;
	margin: 5% 0;
	}
	#nav ul li.about {
		width: 20%;
	}
	#nav ul li.pricing {
		width: 50%;
	}
	#nav ul li.locations {
		width: 30%;
	}
	#nav ul li.contact {
		width: 100%;
		margin: 0;
		font-size: 1em;
	}
	#intro-img, #about {
		display: none;
	}
	#featured-cupcake, #new-cupcakes {
		margin: 5% 0;
	}
	#new-cupcakes img {
		max-width: 95%;
	}

}



/* Tablet ----------- */
@media screen and (max-width: 1024px) {


#intro {
	width: 100%; 
}
#intro-img {
	display: none;
}
#intro h1 {
	margin:  0 0 5% 0;
}
#logo {
	width: 100%;
	text-align: center;
}
#logo img {
	max-width: 55%;
}
#nav {
	width: 100%;
}
#nav ul {
	margin: 0;
}

#nav ul li {
	float: left;
	margin: 5% 0 0 0;
	}
	#nav ul li.about {
		width: 15%;
	}
	#nav ul li.pricing {
		width: 35%;
	}
	#nav ul li.locations {
		width: 25%;
	}
	#nav ul li.contact {
		width: 25%;
		margin: 5% 0 2% 0;
	}


}
















